body(
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
)

/*button css*/
.register-btn {
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  background: #28a745;         
  border: 2px solid #218838;   
  width: 200px;
  padding: 16px;  
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  
  transition: 0.3s;
  transition-property: box-shadow, transform, background;
}

/* effect ตอน hover */
.register-btn:hover, 
.register-btn:focus, 
.register-btn:active {
  background: #218838; 
  border-color: #1e7e34;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.08);
}
